body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 , h2 {
    color: #005f99;
    border-bottom: 2px solid #005f99;
    padding: 10px;
}

 media-item{
    margin: 20px 0;
 }
 audio{
    display: block;
    margin: 10px 0;
    width: 100%;
    max-width: 350px;
    background-color: #e0f7fa;
    border: 2px solid #0097a7;
    padding: 10px;
    border-radius: 8px rounded corners;
 }
  video{
    display: block;
    margin: 10px 0;
    width: 100%;
    max-width: 350px;
 }